/target
/node_modules

.vscode/
.idea/
deno.lock

# Node.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Yarn
.pnp.*
.pnp

# Npm
package-lock.json

# pnpm
pnpm-lock.yaml

# Misc
.DS_Store
.env*
dist/
build/
.cache/
.tmp/
new_project/